body {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    background-color: #575757;
    margin: 0px;
}

.bodyWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#upper {
    padding-bottom: 20px;
    background-color: #a0dd9f;
}

.card {
    padding: 10px !important;
    width: 335px !important;
    height: auto !important;
    background-color: #a0dd9f !important;
}
#cardContainer {
    margin-top: 50px !important;
    column-count: 4 !important;
}
h4 {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}